
{{bread-crumbs breadcrumbs=breadcrumbs action='gotoBreadcrumb'}}

<div class="row">
  <div class="col-md-6">

    <h2>North America</h2>
    {{#each americanWorldNames}}
      <div>
        {{#link-to "map_names" this}}{{name}}{{/link-to}}
      </div>
    {{else}}
      <div>No worlds found</div>
    {{/each}}

  </div>
  <div class="col-md-6">

    <h2>Europe</h2>
    {{#each europeanWorldNames}}
      <div>
        {{#link-to "map_names" this}}{{name}}{{/link-to}}
      </div>
    {{else}}
      <div>No worlds found</div>
    {{/each}}

  </div>
</div>

